.car {
  width: 100%;
  align-items: left;
  margin: 0 0 5px 0;
  padding: 15px 0;
}

.car .car-img,
.car .car-info,
.car .car-price {
  width: 33%;
  height: 100%;
  text-align: center;
}

.car .left-align-wrapper {
  text-align: left;
  display: inline-block;
  width: 100%;
  font-size: 1.2em;
  padding-left: 10%;
}

.car .car-img {
  width: 33%;
  margin: 0 auto;
  max-width: 450px;
}

.car .car-title {
  font-weight: 800;
  font-size: 1.3em;
}

.car .car-price .car-price-sale {
  color: #dd5e89;
  font-weight: 800;
  font-size: 1.6em;
}

.car .car-price button {
  border: none;
  color: white;
  background-color: #818387;
}
