.negotiation {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: inline-block;
}

.negotiation .expectation {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
  padding-left: 10%;
}
.negotiation .expectation .button {
  margin: 2% 2% 0 0;
  float: left;
}
.negotiation .expectation .button:disabled {
  opacity: 0.5;
}

.negotiation .expectation textarea {
  resize: none;
  min-height: 130px;
}

.negotiation .expectation .acceptedIcon {
  color: #007F00;
  font-size: 3em;
  margin-right: 10px;
}

.negotiation .vehicle-info {
  margin-top: 2%;
}

.negotiation .vehicle-info .vehicle-info-text {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 1.3em;
}

.negotiation .vehicle-info .vehicle-info-text .vehicle-info-text-content {
  text-align: left;
  display: inline-block;
  width: 44%;
  background-color: #ececec;
  border-radius: 5%;
  padding: 3%;
}

.negotiation .vehicle-info .vehicle-info-text .vehicle-info-text-content .vehicle-info-text-comments {
  font-size: 0.8em;
  display: inline-block;
  text-indent: 1em;
}

.negotiation .expectation table tr {
  vertical-align: baseline;
}

.negotiation .expectation table tr th,
.negotiation .expectation table tr td {
  padding: 10px 10px 0;
}

.negotiation button {
  color: white;
  background-color: #818387;
}
